body {
  margin: 0;
  font-size: 16px;
  text-align: center;
  background: #4d6d9a;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 700px;
  height: 400px;
  background-color: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}
.container h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 25px;
}

h1 {
  font-family: "Rancho", cursive;
}

.container p {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

h4 {
  color: #ffffff;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
}

#startBtn, .btn {
  padding: 10px 30px;
  background-color: #5f6366;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.btn {
  padding: 10px 30px;
  background-color: #5f6366;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  flex-direction: row-reverse;
  display: flex;
  margin-bottom: 10px;
}
